<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="content-type" content="text/xml; charset=UTF-8">
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="form">
<%= @doc.to_xml %>
</div> 
</body>
</html>




