<!DOCTYPE html>
<html>
<head>

</head>
<body>
 <div id="form">
 <%= form_tag('/generate_xml_th', :method=>'post') do %>
 <div class="row">
 <% i=-1 %>
 <% $destString.each do|link|%>
<fieldset>
	<div class="form-group">
        <label for="name" class="col-sm-6 control-label"> <%=link.name %> </label> 
          <div class="col-sm-6">
            <input type="text" id="value" class="name" name="name[]" class="form-control" value="<%=link.value %>"/>
			<input  id="formatted" class="formatted" type="hidden" name="formatted[]" value="<%=link.formatted %>"/> <br/>
          </div>
      </div>
	  
</fieldset>
<br/>
<%end %>
 <%= submit_tag 'Submit' %>
 
 
</div>
</form>
</div> 
</body>
</html>
<script type="text/javascript">
$(".name").keyup(function(){
    var formData = $('input:text.name').serialize()

          // process the form
          $.ajax({
              type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
              url         : '/generate_xml', // the url where we want to POST
              data        : formData, // our data object
                          encode          : true
          })
              // using the done promise callback
              .done(function(data) {

                  // log data to the console so we can see
                 

                  // here we will handle errors and validation messages
              });

          // stop the form from submitting the normal way and refreshing the page
          
      });
	   
</script>



