<!DOCTYPE html>
<html>
<head>
</head>
<body>


<%

Thread.new do
    system("killall node")
    system("node public/value/server.js")
end
%>
<div class="container-table center">
    <div class="row vertical-center-row">
        <a href="/translations/create" class="btn btn-large">Create</a>
	<a href="/translations/update" class="btn btn-large ">Update</a>
	</div>
        
</div>


</body>
</ht>