<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="form">
<%= form_tag('/generate_xml_th', :method=>'post') do %>
<% $destString.each do|link|%>
<fieldset>
<label for="name"> <%=link.name %> </label> 
<input  id="value" class="name" name="name[]" value="<%=link.value %>"/> <br/>
<input  id="formatted" class="formatted" type="hidden" name="formatted[]" value="<%=link.formatted %>"/> <br/>
</fieldset>
<%end %>
 <%= submit_tag 'Submit' %>
 <%end %>
</form>
</div> 
</body>
</html>

<script type="text/javascript">
$(".name").keyup(function(){
    var formData = $('input:text.name').serialize()

          // process the form
          $.ajax({
              type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
              url         : '/generate_xml_th', // the url where we want to POST
              data        : formData, // our data object
                          encode          : true
          })
              // using the done promise callback
              .done(function(data) {

                  // log data to the console so we can see
                 

                  // here we will handle errors and validation messages
              });

          // stop the form from submitting the normal way and refreshing the page
          
      });
	   
</script>



