

#form {
    background-color: #FFF;
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;
}
label {
    color: #333;
    height: 20px;
    width:100%;
    margin-top: 10px;
    text-align: center;
}
input {
    height: 20px;
    width: 100%;
    border: 1px solid #000;
    margin: auto;
    float: center;
}


.link-btn {
  font-weight: normal;
  color: #ffffff;
  background-color: #009BDA;
  border-color: #adadad;
  cursor: pointer;
}

.link-btn:hover,
.link-btn:focus,
.link-btn:active,
.link-btn.active,
.open .dropdown-toggle.link-btn {
  color: #333333;
  background-color: #008CC5;
  border-color: #adadad;
}

.link-btn:active,
.link-btn.active,
.open .dropdown-toggle.link-btn {
  color: #333333;
  background-color: #009BDA;
  border-color: #adadad;
}

.link-btn.disabled,
.link-btn[disabled],
fieldset[disabled] .link-btn,
.link-btn.disabled:hover,
.link-btn[disabled]:hover,
fieldset[disabled] .link-btn:hover,
.link-btn.disabled:focus,
.link-btn[disabled]:focus,
fieldset[disabled] .link-btn:focus,
.link-btn.disabled:active,
.link-btn[disabled]:active,
fieldset[disabled] .link-btn:active,
.link-btn.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
html, body, .container-table {
    height: 100%;
	
}
.container-table {
	
    display: table;
}
.vertical-center-row {

    display: table-cell;
    vertical-align: middle;
	
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.color
{
	background-color: #DA0000;
	 color: #395998;
}

.title {
	color : #fff;
    text-align: center;
	text-size: 30px;
}

.navbar-header {
    float: left;
    padding: 4px;
    text-align: center;
	margin-top: 8px;
    width: 100%; 
}
.navbar-brand {
	color : #fff;
	font-size: 20px;
	float:none;}
	
.navbar .nav li a {
	    float: none;
	    padding: 10px 15px 10px;
	    color: #fff;
	    text-decoration: none;
	    text-shadow: 0 0px 0 ;
	}
.navbar .nav li a .active{
		    color: #c4c4c4;
		    text-decoration: none;
		    text-shadow: 0 0px 0 ;
		}
.navbar-custom {
    color: #395998;
}



