<!DOCTYPE html>
<html>
<head>
  <title>AndroidTranlations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default color navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand title" href="#">Translations</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/translations/ID">Mobil123</a></li>
        <li><a href="/translations/th">One2car</a></li> 
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>